---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
    <ul class="posts">
        <li class="posts-labelgroup" id="posts-labelgroup">
            <h1 id="posts-label">Пост</h1>
            {% if site.plainwhite.search %}
                <div class="search-container">
                    <div class="search-section">
                        <i class="icon-search"></i>
                        <input aria-label="Искать пост" autocomplete="off" id="searchbar" name="search" type="text">
                    </div>
                    <div class="search-results" data-placeholder="Нет результатов" id="search-results" style="display: none;"></div>
                </div>
            {% endif %}
        </li>

        {%- for post in site.posts -%}
            <li>
                {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
                <a class="post-link" href="{{ post.url | relative_url }}">
                    <h2 class="post-title">{{ post.title | escape }}</h2>
                </a>
                <div class="post-meta">
                    <div class="post-date">
                        {{ post.date | date: "%-d" }}
                        {% assign month = post.date | date: '%-m' %}
                        {% case month %}
                                {% when '1' %}января
                                {% when '2' %}февраля
                                {% when '3' %}марта
                                {% when '4' %}апреля
                                {% when '5' %}мая
                                {% when '6' %}июня
                                {% when '7' %}июля
                                {% when '8' %}августа
                                {% when '9' %}сентября
                                {% when '10' %}октября
                                {% when '11' %}ноября
                                {% when '12' %}декабря
                        {% endcase %}
                        {{ post.date | date: "%Y" }}
                    </div>
                    {%- if post.categories.size > 0-%}
                        <ul class="post-categories">
                            {%- if post.ongoing -%}
                                <li class="warning">В работе</li>
                            {%- endif -%}
                            {%- for tag in post.categories -%}
                                <li>{{ tag }}</li>
                            {%- endfor -%}
                            {%- if post.env -%}
                                <li>
                                    <a class="post-link" target="_blank" href='{{post.env}}'>Pages
                                        <i class="icon-rocket"></i>
                                    </a>
                                </li>
                            {%- endif -%}
                        </ul>
                    {%- endif -%}
                </div>
                <div class="post">
                    {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                    {%- endif -%}
                </div>
            </li>
        {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}